@import "tailwindcss";

/* custom css */
/* set dark stone color on body */

body {
    font-family: "Satoshi", sans-serif;
    /* background: linear-gradient(200deg, #101010 0%, #202020 100%); */
    min-height: 100vh;
    color: white;
}

.search-input:focus {
    outline: none;
}